{%
    set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
    <div {{ content_attributes.addClass('node__content') }}>
        {% if content.field_redirect['#title'] %}
            <a href="{{ content.field_redirect[0]['#title'] }}" rel="bookmark">
        {% else %}
            <a href="{{ url }}" rel="bookmark">
        {% endif %}
            <span class="base-page__work__title">
                {{ label }}
            </span>
            <span class="base-page__work__image">
                {{ content.field_primary_image }}
            </span>
        </a>
    </div>

</article>
 